body {
    background-color: rgba(255, 255, 255, 0.5);
    background-blend-mode: overlay;
    background-image: url('/svg/back6.svg');
    background-size: cover;
}

.custom-container {
    width: 500px;
}

.emoji-btn {
    font-size: 33px;
    padding: 10px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    font-family: Arial, sans-serif; 
}

.emoji-btn:hover {
    transform: scale(1.34);
}

.btn{
    background-color: overlay;
    background-color: rgba(255, 255, 255, 0.5);
}

.btn:hover {
    background-color: overlay;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scale(1.06);
}